{% extends '/front/base.html.twig' %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Platform</th>
                <th>Type</th>
                <th>Is Full</th>
                <th>Players</th>
                <th>Start</th>
            </tr>
        </thead>
        <tbody>
            {% for game in homepage.games %}
                <tr>
                    <td>{{ game.id }}</td>
                    <td>{{ game.platform }}</td>
                    <td>{{ game.category }}</td>
                    <td><i class="fas {{ game.full ? 'fa-check' : 'fa-times' }}"></i></td>
                    <td>{{ game.confirmed_sessions|length }}</td>
                    <td>{{ game.start_time|date|format('d-m-Y') }}</td>
                </tr>
                <tr>
                    <td colspan="6">
                        <div class="row">
                            <div class="col-xs-12">
                                <b>Players</b><br/>
                                {% for player in game.players %}
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <img src="{{ player.avatar }}" width="50px" height="50px">
                                        </div>
                                        <div class="col-xs-9">
                                            {{ player.gamertag ?: 'Unknown' }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
